body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}
a {
  text-decoration: none;
  color: #0077cc;
  margin: 0 0.5rem;
}
a:hover {
  text-decoration: underline;
}
